<h1>安全程序設定</h1>
<button type="button" class="btn btn-outline-dark mr-2">新增</button>
<button mat-raised-button (click)="jsonPathDialog()" type="button" class="btn btn-outline-dark mr-2">匯入</button>
<button type="button" (click)="downloadFile()" class="btn btn-outline-dark mr-2">匯出</button>
<button type="button" class="btn btn-outline-dark mr-2">套用權限</button>
<button type="button" class="btn btn-outline-dark mr-2">套用欄位</button>

<table class="table table-striped mt-2">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">程序名稱</th>
    <th scope="col">原始檔名</th>
    <th scope="col">內部名稱</th>
    <th scope="col">產品名稱</th>
    <th scope="col">公司名稱</th>
    <th scope="col">描述</th>
    <th scope="col">簽章簽署人</th>
    <th scope="col">產品版本</th>
    <th scope="col">參數</th>
    <th scope="col">更新時間</th>
  </tr>
  </thead>
  <tbody *ngFor="let setting of data; index as i">
    <th scope="row">{{i + 1}}</th>
    <td>{{setting.programName}}</td>
    <td>{{setting.originalFileName}}</td>
    <td>{{setting.internalName}}</td>
    <td>{{setting.productName}}</td>
    <td>{{setting.companyName}}</td>
    <td>{{setting.description}}</td>
    <td>{{setting.signatory}}</td>
    <td>{{setting.productVersion}}</td>
    <td>{{setting.parameter}}</td>
    <td>{{setting.updateTime}}</td>
  </tbody>
</table>
